@model SalesAndPurchaseManagement.Models.Employee

@{
    ViewData["Title"] = "Xóa Nhân Viên";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

<h1>Xóa Nhân Viên</h1>

<div class="ms-2 mx-2">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <h4>Nhân viên</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Tên Nhân Viên</dt>
        <dd class="col-sm-10">@Model.EmployeeName</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Số Điện Thoại</dt>
        <dd class="col-sm-10">@Model.PhoneNumber</dd>

        <dt class="col-sm-2">Địa Chỉ</dt>
        <dd class="col-sm-10">@Model.Address</dd>

        <dt class="col-sm-2">Giới Tính</dt>
        <dd class="col-sm-10">@Model.Gender</dd>

        <dt class="col-sm-2">Công Việc</dt>
        <dd class="col-sm-10">@Model.Job?.JobTitle</dd>

        <dt class="col-sm-2">Ảnh</dt>
        <dd class="col-sm-10">
            <img src="@Url.Content("~/images/" + Model.Image)" alt="Ảnh Nhân Viên" width="150" />
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="EmployeeId" />
        <div class="form-group mb-3">
            <div class="col-sm-10">
                <p>Bạn có chắc chắn muốn xóa nhân viên này không?</p>
                <button type="submit" class="btn btn-danger">Xóa</button>
                <a asp-action="Index" class="btn btn-secondary">Hủy</a>
            </div>
        </div>
    </form>
</div>
