@model SalesAndPurchaseManagement.Models.Employee

@{
    ViewData["Title"] = "Chi Tiết Nhân Viên";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

<div class="ms-2 mx-2">
    <h1>Chi Tiết Nhân Viên</h1>

    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.EmployeeId)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.EmployeeId)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.EmployeeName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.EmployeeName)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.PhoneNumber)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Gender)</dt>
        <dd class="col-sm-10">
            @switch (Model.Gender)
            {
                case Gender.Male:
                    <span>Nam</span>
                    break;
                case Gender.Female:
                    <span>Nữ</span>
                    break;
                default:
                    <span>Không xác định</span>
                    ;
                    break;
            }
        </dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.DateOfBirth)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DateOfBirth)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Address)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Address)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Job)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Job.JobTitle)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Email)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Email)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Password)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Password)</dd>
    </dl>

    <a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
</div>
